<header>
  <div>
    <nav>
      <div class="row">
        <span class="col-9">
          <a href="index.html"><img src="/assets/images/less.png">Generator</a>
        </span>

        <span class="links" *ngIf="!authService.getUser()">
            <a [routerLink]="['login']" (click)="toggleShow()">Login</a>
        </span>

        <span class="links" *ngIf="!authService.getUser()">
          <a [routerLink]="['register']" (click)="toggleShow()">Register</a>
        </span>

        <span class="logout-link" *ngIf="authService.getUser()">
            <a (click)="toggleShow(); authService.logout()">Logout</a>
        </span>

      </div>
    </nav>
  </div>
</header>

<div class="main" *ngIf="show"> 
<div class="content">
  <a href="https://www.accenture.com/us-en/digital-index" target="_blank">
  <img src="/assets/images/accenturedigital.png" alt="Accenture Digital" class="img-digital"></a>
</div>
<div class="img-digital-1">

</div>
<div class="text-content">
     <h1>DON'T FOLLOW</h1>
     <h1>DIGITAL TRENDS</h1>
     <h1>START THEM.</h1>
     <!-- <div class="img-digital-1"><img src="/assets/images/Accenture-Digital-Utility.png" alt="Accenture Digital" class="img-digital-1"></div> -->
</div>
<div id="text-content">
  <p><strong>WE HELP CLIENTS PIVOT FROM THINKING DIGITAL TO BEING DIGITAL </strong></p>
  <span>Through interactive experiences that captivate customers, analytics that transform big data into even bigger actions and new mobile technologies that harness the power of IOT and Living Services</span>
</div>
</div>
