header
{
    width: 100%;
    border-bottom: 1px solid #d0d4d9;
    box-shadow: 0px 1px 1px #d0d4d9;
}


header div nav div
{
    background-color: rgba(255, 255, 255, 0.55);
    height: 75px;    
}
img
{
    height: 60px;
    width: 113.1px;
    margin: 5px -3px 5px 30px;
}
a
{
    font-family: 'Pacifico', cursive;
    font-size: 28px;
    color: #74658D;
}
a:hover
{
    text-decoration: none;
}
.links 
{
    margin: 21px 0px 0px 60px;
}
.links a
{
    font-size: 24px;
    color: black;
    font-family: 'Josefin Sans', sans-serif;
}
div .row
{
    margin-right: 0px;
}