
  <footer>
      <span class="footer-contact">
        <label>Local:&nbsp;</label>
        <span>
          <a href="callto://13128425012">+1 (312) 842-5012</a>
        </span>
        <label>&nbsp;&nbsp;Toll Free:&nbsp;</label>
        <span>
            <a href="callto://18778899009">+1 (877) 889-9009</a>
          </span>
      </span>
        <div class="icons">
            <span><a href="https://www.facebook.com/accenture/" target="_blank"><span class="link-facebook"><i class="fa fa-facebook"></i></span></a></span>
            <span> <a href="https://www.linkedin.com/company/accenture" target="_blank"><span class="link-linkedin"><i class="fa fa-linkedin"></i></span></a></span>
            <span><a href="https://twitter.com/Accenture" target="_blank"><span class="link-twitter"><i class="fa fa-twitter"></i></span></a></span>
            <span><a href="https://www.youtube.com/user/Accenture" target="_blank"><span class="link-youtube"><i class="fa fa-youtube"></i></span></a></span>
          </div>
  
          <div class="links">
            <ul class="list-inline">
              <li class="list-inline-item"><a href="https://www.accenture.com/in-en/company" target="_blank">About Accenture</a></li>
              <li class="list-inline-item"><a href="https://www.accenture.com/in-en/contact-us" target="_blank">Contact Us</a></li>
              <li class="list-inline-item"><a href="https://www.accenture.com/in-en/office-directory" target="_blank">Find a Location</a></li>
              <li class="list-inline-item"><a href="https://www.accenture.com/in-en/company-cookies-similar-technology" target="_blank">Cookie Policy</a></li>
              <li class="list-inline-item"><a href="https://www.accenture.com/in-en/site-map" target="_blank">Site Map</a></li>
              <li class="list-inline-item"><a href="https://www.accenture.com/in-en/privacy-policy" target="_blank">Privacy Policy</a></li>
              <li class="list-inline-item"><a href="https://www.accenture.com/in-en/terms-of-use" target="_blank">Terms of Use</a></li>
              <li class="list-inline-item"><a href="https://www.accenture.com/in-en/careers" target="_blank">Careers</a></li>
            </ul>
          </div>
  
          <div class="copyright">
            <span>By using this site you agree that we can place cookies on your device.</span>
            <span>See our</span>
            <a href="https://www.accenture.com/in-en/privacy-policy" target="_blank">Privacy Policy</a>
            <span>and</span>
            <a href="https://www.accenture.com/in-en/company-cookies-similar-technology" target="_blank">Cookies Policy</a>
            <span>for details.</span>
        <div>
          <span>©&nbsp;</span>
          <span>2017</span>
          <span>Accenture. All Rights Reserved</span>
        </div>
      </div>
    </footer>
  
  