<div class="container-fluid">
    <div>
    <form *ngIf="!authService.getUser()">
    <fieldset>
        <legend class="breadcrumb">Sign in</legend>
<div class="form-group">
    <label for="emailInput">Email address</label>
    <input type="email" class="form-control col-md-3" id="emailInput" aria-describedby="emailHelp" placeholder="Enter email" #username>
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
</div>

<div class="form-group">
    <label for="passwordlInput">Password</label>
    <input type="password" class="form-control col-md-3" id="passwordlInput" aria-describedby="emailHelp" placeholder="Enter Password" #password>
    <small id="emailHelp" class="form-text text-muted">Please do not share your password with anyone else.</small>
</div>

<div class="row"> 
    <span class="form-check col-auto">
        <label id="chkbox-login">
            <input type="checkbox" class="form-check-input" id="chkbox" >
                   Remember Me
          </label>
    </span>
    <span class="col-auto">
        <button type="submit" class="btn btn-primary btn-login" (click)="login(username.value, password.value)">Login</button>
        <div *ngIf="username.value != password.value">
            <small class="alert alert-warning custom">Please Enter Correct Credentials</small>
        </div>
    </span>
</div>
</fieldset>
</form>
</div>
</div>

<div *ngIf="authService.getUser()" class="container-fluid clearfix">
    <div class="row relative">
        <div class="breadcrumb col-md-auto absolute"> Logged in as <b>{{ authService.getUser() }}</b>
            <!-- <a href (click)="logout()">Log out</a> -->
        </div>    
    </div>
    <app-form></app-form>   
</div>


      
