form
{
    position: relative;
    border: 1px  solid black;
    box-sizing: border-box;
    margin: 20px;
    padding: 20px;
    width: 1300px;
}

.row span
{
    margin-left: 21px;
}

.btn-login
{
    margin-left: 76px;
}

#chkbox
{
    margin-top: 12px;
}

small{
    margin-left: 15px;
}

.custom
{
    margin-top: 20px;
    margin-left: -140px;
    display: inline-block;
    color: red;
}

.relative
{
    position: relative;
    height: 48px;
}

.absolute
{
    position: absolute;
    right: 0px;
}
