<div class="container-fluid">
  
    <!-- Top content -->
    <div class="row top">
      Fill in the respective values to generate the LESS file. 
    </div>
    <hr>

    <div data-toggle="buttons" class="btn-group">
        <button type="button" class="btn btn-secondary btn-style" id="button-heading-1">Click to show/hide Heading Tag Attributes</button>
        <button type="button" class="btn btn-secondary btn-style dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" (click)="toggleHeadingMethod()"></button>
      </div>

    <form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value)">
      <!-- For H1 and H2 -->
      <div id="toggle" *ngIf="toggleHeading"> <!-- Heading div container starts -->
      <div class="form-row text-center">
        <div class="col-md-6">
            <span class="heading-style">H1</span>
              <div class="form-group">
                <label for="Font-Family" class="col-md-3 form-control-sm">Font-Family</label>
                <!-- <input type="text" class="col-md-3" id="Font-Family" [formControl]='H1_FontFamily'> -->
                <select [formControl]='H1_FontFamily'>
                  <option *ngFor="let font of fonts" [value]="font">{{font}}</option>
                </select>
               </div>

        <div class="form-group">
            <label for="Color" class="col-md-3 form-control-sm inp">Color</label>
            <!-- <span class="input-group-addon" id="sizing-addon1">Color</span> -->
            <input type="text" class="col-md-3" id="Color" [formControl]='H1_Color' [value]="H1_color" [style.background]="H1_color" aria-describedby="sizing-addon1">
          </div>

          <div class="form-group">
              <label for="Font-Size" class="col-md-3 form-control-sm">Font-Size</label>
              <input type="text" class="col-md-3" id="Font-Size" [formControl]='H1_FontSize' placeholder="Values in px" [class.bordered-invalid]="!H1_FontSize.valid && H1_FontSize.touched">
            </div>

            <div class="form-group">
                <label for="Padding" class="col-md-3 form-control-sm">Padding</label>
                <input type="text" class="col-md-3" id="Padding" [formControl]='H1_Padding' placeholder="Values in px" [class.bordered-invalid]="!H1_Padding.valid && H1_FontSize.touched">
              </div>

              <div class="form-group">
                  <label for="Margin" class="col-md-3 form-control-sm">Margin</label>
                  <input type="text" class="col-md-3" id="Margin" [formControl]='H1_Margin' placeholder="Values in px" [class.bordered-invalid]="!H1_Margin.valid && H1_Margin.touched">
                </div>

        </div>

<!-- For h2 -->
<div class="col-md-6">
    <span class="heading-style">H2</span>
      <div class="form-group">
        <label for="Font-Family" class="col-md-3 form-control-sm">Font-Family</label>
        <!-- <input type="text" class="col-md-3" id="Font-Family" [formControl]='H2_FontFamily'> -->
        <select [formControl]='H2_FontFamily'>
          <option *ngFor="let font of fonts" [value]="font">{{font}}</option>
        </select>
       </div>

<div class="form-group">
    <label for="Color" class="col-md-3 form-control-sm">Color</label>
    <input type="text" class="col-md-3" id="Color" [value]="H2_color" [style.background]="H2_color" [formControl]='H2_Color'>
  </div>

  <div class="form-group">
      <label for="Font-Size" class="col-md-3 form-control-sm">Font-Size</label>
      <input type="text" class="col-md-3" id="Font-Size" [formControl]='H2_FontSize' placeholder="Values in px" [class.bordered-invalid]="!H2_FontSize.valid && H2_FontSize.touched">
    </div>

    <div class="form-group">
        <label for="Padding" class="col-md-3 form-control-sm">Padding</label>
        <input type="text" class="col-md-3" id="Padding" [formControl]='H2_Padding' placeholder="Values in px" [class.bordered-invalid]="!H2_Padding.valid && H2_Padding.touched">  
      </div>

      <div class="form-group">
            <label for="Margin" class="col-md-3 form-control-sm">Margin</label>
          <input type="text" class="col-md-3" id="Margin" [formControl]='H2_Margin' placeholder="Values in px" [class.bordered-invalid]="!H2_Margin.valid && H2_Margin.touched">
          </div>

      </div>
<!-- H2 ends -->
      </div>
<!-- For H1 and H2 ends -->

<!-- For H3 and H4 -->
<!-- For h3 -->
<div class="form-row text-center">
    <div class="col-md-6">
        <span class="heading-style">H3</span>
          <div class="form-group">
            <label for="Font-Family" class="col-md-3 form-control-sm">Font-Family</label>
            <!-- <input type="text" class="col-md-3" id="Font-Family" [formControl]='H3_FontFamily'> -->
            <select [formControl]='H3_FontFamily'>
              <option *ngFor="let font of fonts" [value]="font">{{font}}</option>
            </select>
           </div>

    <div class="form-group">
        <label for="Color" class="col-md-3 form-control-sm">Color</label>
        <input type="text" class="col-md-3" id="Color" [value]="H3_color" [style.background]="H3_color" [formControl]='H3_Color'>
      </div>

      <div class="form-group">
          <label for="Font-Size" class="col-md-3 form-control-sm">Font-Size</label>
          <input type="text" class="col-md-3" id="Font-Size" [formControl]='H3_FontSize' placeholder="Values in px" [class.bordered-invalid]="!H3_FontSize.valid && H3_FontSize.touched">
        </div>

        <div class="form-group">
            <label for="Padding" class="col-md-3 form-control-sm">Padding</label>
            <input type="text" class="col-md-3" id="Padding" [formControl]='H3_Padding' placeholder="Values in px" [class.bordered-invalid]="!H3_Padding.valid && H3_Padding.touched">
          </div>

          <div class="form-group">
              <label for="Margin" class="col-md-3 form-control-sm">Margin</label>
              <input type="text" class="col-md-3" id="Margin" [formControl]='H3_Margin' placeholder="Values in px" [class.bordered-invalid]="!H3_Margin.valid && H3_Margin.touched">
            </div>

    </div>
<!-- For h3 ends -->

<!-- For h4 -->
<div class="col-md-6">
<span class="heading-style">H4</span>
  <div class="form-group">
    <label for="Font-Family" class="col-md-3 form-control-sm">Font-Family</label>
    <!-- <input type="text" class="col-md-3" id="Font-Family" [formControl]='H4_FontFamily'> -->
    <select [formControl]='H4_FontFamily'>
      <option *ngFor="let font of fonts" [value]="font">{{font}}</option>
    </select>
   </div>

<div class="form-group">
<label for="Color" class="col-md-3 form-control-sm">Color</label>
<input type="text" class="col-md-3" id="Color" [value]="H4_color" [style.background]="H4_color" [formControl]='H4_Color'>
</div>

<div class="form-group">
  <label for="Font-Size" class="col-md-3 form-control-sm">Font-Size</label>
  <input type="text" class="col-md-3" id="Font-Size" [formControl]='H4_FontSize' placeholder="Values in px" [class.bordered-invalid]="!H4_FontSize.valid && H4_FontSize.touched">
</div>

<div class="form-group">
    <label for="Padding" class="col-md-3 form-control-sm">Padding</label>
    <input type="text" class="col-md-3" id="Padding" [formControl]='H4_Padding' placeholder="Values in px" [class.bordered-invalid]="!H4_Padding.valid && H4_Padding.touched">
  </div>

  <div class="form-group">
        <label for="Margin" class="col-md-3 form-control-sm">Margin</label>
      <input type="text" class="col-md-3" id="Margin" [formControl]='H4_Margin' placeholder="Values in px" [class.bordered-invalid]="!H4_Margin.valid && H4_Margin.touched">
      </div>

  </div>
<!-- H4 ends -->
  </div>
<!-- For H3 and H4 ends -->

<!-- For H5 and H6 -->
<!-- For h5 -->
<div class="form-row text-center">
    <div class="col-md-6">
        <span class="heading-style">H5</span>
          <div class="form-group">
            <label for="Font-Family" class="col-md-3 form-control-sm">Font-Family</label>
            <!-- <input type="text" class="col-md-3" id="Font-Family" [formControl]='H5_FontFamily'> -->
            <select [formControl]='H5_FontFamily'>
              <option *ngFor="let font of fonts" [value]="font">{{font}}</option>
            </select>
           </div>

    <div class="form-group">
        <label for="Color" class="col-md-3 form-control-sm">Color</label>
        <input type="text" class="col-md-3" id="Color" [value]="H5_color" [style.background]="H5_color" [formControl]='H5_Color'>
      </div>

      <div class="form-group">
          <label for="Font-Size" class="col-md-3 form-control-sm">Font-Size</label>
          <input type="text" class="col-md-3" id="Font-Size" [formControl]='H5_FontSize' placeholder="Values in px" [class.bordered-invalid]="!H5_FontSize.valid && H5_FontSize.touched">
        </div>

        <div class="form-group">
            <label for="Padding" class="col-md-3 form-control-sm">Padding</label>
            <input type="text" class="col-md-3" id="Padding" [formControl]='H5_Padding' placeholder="Values in px" [class.bordered-invalid]="!H5_Padding.valid && H5_Padding.touched"> 
          </div>

          <div class="form-group">
              <label for="Margin" class="col-md-3 form-control-sm">Margin</label>
              <input type="text" class="col-md-3" id="Margin" [formControl]='H5_Margin' placeholder="Values in px" [class.bordered-invalid]="!H5_Margin.valid && H5_Margin.touched">
            </div>

    </div>
<!-- For h5 ends -->

<!-- For h6 -->
<div class="col-md-6">
<span class="heading-style">H6</span>
  <div class="form-group">
    <label for="Font-Family" class="col-md-3 form-control-sm">Font-Family</label>
    <!-- <input type="text" class="col-md-3" id="Font-Family" [formControl]='H6_FontFamily'> -->
    <select [formControl]='H6_FontFamily'>
      <option *ngFor="let font of fonts" [value]="font">{{font}}</option>
    </select>
   </div>

<div class="form-group">
<label for="Color" class="col-md-3 form-control-sm">Color</label>
<input type="text" class="col-md-3" id="Color" [value]="H6_color" [style.background]="H6_color" [formControl]='H6_Color'> 
</div>

<div class="form-group">
  <label for="Font-Size" class="col-md-3 form-control-sm">Font-Size</label>
  <input type="text" class="col-md-3" id="Font-Size" [formControl]='H6_FontSize' placeholder="Values in px" [class.bordered-invalid]="!H6_FontSize.valid && H6_FontSize.touched">
</div>

<div class="form-group">
    <label for="Padding" class="col-md-3 form-control-sm">Padding</label>
    <input type="text" class="col-md-3" id="Padding" [formControl]='H6_Padding' placeholder="Values in px" [class.bordered-invalid]="!H6_Padding.valid && H6_Padding.touched">
  </div>

  <div class="form-group">
        <label for="Margin" class="col-md-3 form-control-sm">Margin</label>
      <input type="text" class="col-md-3" id="Margin" [formControl]='H6_Margin' placeholder="Values in px" [class.bordered-invalid]="!H6_Margin.valid && H6_Margin.touched">
      </div>

  </div>
<!-- H6 ends -->
  </div>
<!-- For H5 and H6 ends -->
</div> 
<hr>
<!-- Container of Heading div ends -->

<!-- Container for Anchor and Body tag starts -->
<div data-toggle="buttons" class="btn-group">
    <button type="button" class="btn btn-secondary btn-style" id="button-heading-2">Click to show/hide Anchor/Body tag Attributes</button>
    <button type="button" class="btn btn-secondary btn-style dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" (click)="toggleAnchorMethod()"></button>
  </div>

<!-- For Anchor and Body Tags -->

<div class="form-row text-center" id="toggle" *ngIf="toggleAnchor">
  <!-- For Anchor Tag starts -->
    <div class="col-md-6">
        <span id="anchor-style">Anchor</span>
          <div class="form-group">
            <label for="Font-Family" class="col-md-3 form-control-sm">Font-Family</label>
            <!-- <input type="text" class="col-md-3" id="Font-Family" [formControl]='Anchor_FontFamily'> -->
            <select name="Anchor_FontFamily" [formControl]='Anchor_FontFamily' >
              <option *ngFor="let font of fonts" [value]="font">{{font}}</option>
            </select>
           </div>

    <div class="form-group">
        <label for="Color" class="col-md-3 form-control-sm">Color</label>
        <input type="text" class="col-md-3" id="Color" [value]="Anchor_color" [style.background]="Anchor_color" [formControl]='Anchor_Color'>
      </div>

      <div class="form-group">
          <label for="Font-Size" class="col-md-3 form-control-sm">Font-Size</label>
          <input type="text" class="col-md-3" id="Font-Size"  [formControl]='Anchor_FontSize' placeholder="Values in px" [class.bordered-invalid]="!Anchor_FontSize.valid && Anchor_FontSize.touched">
        </div>

        <div class="form-group">
            <label for="Padding" class="col-md-3 form-control-sm">Padding</label>
            <input type="text" class="col-md-3" id="Padding" [formControl]='Anchor_Padding' placeholder="Values in px" [class.bordered-invalid]="!Anchor_Padding.valid && Anchor_Padding.touched">
          </div>

          <div class="form-group">
              <label for="Margin" class="col-md-3 form-control-sm">Margin</label>
              <input type="text" class="col-md-3" id="Margin" [formControl]='Anchor_Margin' placeholder="Values in px" [class.bordered-invalid]="!Anchor_Margin.valid && Anchor_Margin.touched">
            </div>

            <div class="form-group">  
                <label for="Focus" class="col-md-3 form-control-sm">Focus</label>
                <input type="text" class="col-md-3" id="Focus" [formControl]='Anchor_Focus'>
              </div>

              <div class="form-group">
                  <label for="Visited" class="col-md-3 form-control-sm">Visited</label>
                  <input type="text" class="col-md-3" id="Visited" [formControl]='Anchor_Visited'>
                </div>

                <div class="form-group">
                    <label for="Active" class="col-md-3 form-control-sm">Active</label>
                    <input type="text" class="col-md-3" id="Active" [formControl]='Anchor_Active'>
                </div>

    </div>
<!-- For Anchor Tag ends -->

<!-- For Body -->
<div class="col-md-6">
<span id="body-style">Body</span>
  <div class="form-group">
    <label for="Font-Family" class="col-md-3 form-control-sm">Font-Family</label>
    <!-- <input type="text" class="col-md-3" id="Font-Family" [formControl]='Body_FontFamily'> -->
    <select [formControl]='Body_FontFamily'>
      <option *ngFor="let font of fonts" [value]="font">{{font}}</option>
    </select>
   </div>

<div class="form-group">
<label for="Color" class="col-md-3 form-control-sm">Color</label>
<input type="text" class="col-md-3" id="Color" [value]="Body_color" [style.background]="Body_color" [formControl]='Body_Color'>
</div>

<div class="form-group">
    <label for="Background-Color" class="col-md-3 form-control-sm">Background-Color</label>
    <input type="text" class="col-md-3" id="Background-Color" [formControl]='Body_BackgroundColor'>
  </div>

<div class="form-group">
  <label for="Font-Size" class="col-md-3 form-control-sm">Font-Size</label>
  <input type="text" class="col-md-3" id="Font-Size" [formControl]='Body_FontSize' placeholder="Values in px" [class.bordered-invalid]="!Body_FontSize.valid && Body_FontSize.touched">
</div>

<div class="form-group">
    <label for="Padding" class="col-md-3 form-control-sm">Padding</label>
    <input type="text" class="col-md-3" id="Padding" [formControl]='Body_Padding' placeholder="Values in px" [class.bordered-invalid]="!Body_Padding.valid && Body_Padding.touched">
  </div>

  <div class="form-group">
        <label for="Margin" class="col-md-3 form-control-sm">Margin</label>
      <input type="text" class="col-md-3" id="Margin" [formControl]='Body_Margin' placeholder="Values in px" [class.bordered-invalid]="!Body_Margin.valid && Body_Margin.touched">
      </div>

  </div>
<!-- H2 ends -->
  </div>
<!-- For Anchor and  Body Tags ends -->
<hr>

<div data-toggle="buttons" class="btn-group">
    <button type="button" class="btn btn-secondary btn-style" id="button-heading-3">Click to show/hide Paragraph/TextArea tag Attributes</button>
    <button type="button" class="btn btn-secondary btn-style dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" (click)="toggleParaMethod()"></button>
  </div>

    <!-- For TextArea and Para starts -->
    
    <div class="form-row text-center" id="toggle" *ngIf="togglePara">
        <!-- For P Tag starts -->
          <div class="col-md-6">
              <span id="para-style">P</span>
                <div class="form-group">
                  <label for="Font-Family" class="col-md-3 form-control-sm">Font-Family</label>
                  <!-- <input type="text" class="col-md-3" id="Font-Family" [formControl]='P_FontFamily'> -->
                  <select [formControl]='P_FontFamily'>
                    <option *ngFor="let font of fonts" [value]="font">{{font}}</option>
                  </select>
                 </div>
      
          <div class="form-group">
              <label for="Color" class="col-md-3 form-control-sm">Color</label>
              <input type="text" class="col-md-3" id="Color" [value]="P_color" [style.background]="P_color" [formControl]='P_Color'>
            </div>

            <div class="form-group">
                <label for="Background-Color" class="col-md-3 form-control-sm">Background-Color</label>
                <input type="text" class="col-md-3" id="Background-Color" [formControl]='P_BackgroundColor'>
              </div>
      
            <div class="form-group">
                <label for="Font-Size" class="col-md-3 form-control-sm">Font-Size</label>
                <input type="text" class="col-md-3" id="Font-Size" [formControl]='P_FontSize' placeholder="Values in px" [class.bordered-invalid]="!P_FontSize.valid && P_FontSize.touched">
              </div>
      
              <div class="form-group">
                  <label for="Padding" class="col-md-3 form-control-sm">Padding</label>
                  <input type="text" class="col-md-3" id="Padding" [formControl]='P_Padding' placeholder="Values in px" [class.bordered-invalid]="!P_Padding.valid && P_Padding.touched">
                </div>
      
                <div class="form-group">
                    <label for="Margin" class="col-md-3 form-control-sm">Margin</label>
                    <input type="text" class="col-md-3" id="Margin" [formControl]='P_Margin' placeholder="Values in px" [class.bordered-invalid]="!P_Margin.valid && P_Margin.touched">
                </div>
      
          </div>
      <!-- For P Tag ends -->
      
      <!-- For Text Area -->
      <div class="col-md-6">
      <span id="textarea-style">TextArea</span>
        <div class="form-group">
          <label for="Font-Family" class="col-md-3 form-control-sm">Font-Family</label>
          <!-- <input type="text" class="col-md-3" id="Font-Family" [formControl]='TextArea_FontFamily'> -->
          <select [formControl]='TextArea_FontFamily'>
            <option *ngFor="let font of fonts" [value]="font">{{font}}</option>
          </select>
         </div>
      
      <div class="form-group">
      <label for="Color" class="col-md-3 form-control-sm">Color</label>
      <input type="text" class="col-md-3" id="Color" [value]="TextArea_color" [style.background]="TextArea_color" [formControl]='TextArea_Color'>
      </div>
      
      <div class="form-group">
          <label for="Background-Color" class="col-md-3 form-control-sm">Background-Color</label>
          <input type="text" class="col-md-3" id="Background-Color" [formControl]='TextArea_BackgroundColor'>
        </div>
      
      <div class="form-group">
        <label for="Font-Size" class="col-md-3 form-control-sm">Font-Size</label>
        <input type="text" class="col-md-3" id="Font-Size" [formControl]='TextArea_FontSize' placeholder="Values in px" [class.bordered-invalid]="!TextArea_FontSize.valid && TextArea_FontSize.touched">
      </div>
      
      <div class="form-group">
          <label for="Padding" class="col-md-3 form-control-sm">Padding</label>
          <input type="text" class="col-md-3" id="Padding" [formControl]='TextArea_Padding' placeholder="Values in px" [class.bordered-invalid]="!TextArea_Padding.valid && TextArea_Padding.touched">
        </div>
      
        <div class="form-group">
              <label for="Margin" class="col-md-3 form-control-sm">Margin</label>
            <input type="text" class="col-md-3" id="Margin" [formControl]='TextArea_Margin' placeholder="Values in px" [class.bordered-invalid]="!TextArea_Margin.valid && TextArea_Margin.touched">
            </div>
      
        </div>
      <!-- H2 ends -->
        </div>
      <!-- For Anchor and  Body Tags ends -->
      <hr>

      <div class="row float-right" id="submit-btn-style" >
        <button class="btn btn-secondary submit-btn-style" [disabled]="!formGroup.dirty && !formGroup.invalid" [class.btn-success]="formGroup.valid" type="submit">Submit</button>
      </div>

      <div class="row float-right" id="submit-btn-style">
        <button class="btn btn-danger submit-btn-style" [disabled]="!formGroup.dirty" type="button" (click)="resetForm()">Reset</button>
      </div>
    </form>
    </div>