.form
{


}
.bordered-invalid
{
    border: 2px solid red;
}

.bordered-valid
{
    border: 2px solid green;
}

.btn-opacity
{
    opacity: 0.8;
}

.button-style
{
    margin-left: 60px;
}

.reset-position
{
    margin-left: 110px;
}
small{
    margin-left: 15px;
}
div small
{
    padding-top: 3px;
    float: right;
    color: red;
}

small.alert{
    margin: 0px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 2px;
    padding-bottom: 4px
}