form
{
    width: 1300px;
    margin: 20px;
    padding: 20px;
    border: 1px solid rgba(0,0,0,.2);
}

.bordered-invalid
{
    border: 2px solid red;
}

.bordered-valid
{
    border: 2px solid green;
}

.btn-opacity
{
    opacity: 0.8;
}

.button-style
{
    margin-left: 60px;
}

.reset-position
{
    margin-left: 110px;
}
small{
    margin-left: 15px;
}
div small
{
    padding-top: 3px;
    float: right;
    color: red;
}

small.alert{
    margin: 0px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 2px;
    padding-bottom: 4px
}

.success-alert
{
    margin: 20px 0px 0px 59px;
}

.alert
{
    padding: 10px;
}

legend
{
    width: 33%;
}

.breadcrumb
{
    padding: 5px 0px 5px 12px;
}

.form-control:focus
{
    border-color: #2188ff;
    outline: none;
    box-shadow: inset 0 1px 1px rgba(27,31,35,0.075), 0 0 0 0.05em rgba(3,102,214,0.3);
    background-color: white;
}