.form
{


}
.bordered-invalid
{
    border: 2px solid red;
}

.bordered-valid
{
    border: 2px solid green;
}

.btn-opacity
{
    opacity: 0.3;
}

.button-style
{
    margin-left: 50px;
}

.submit-position
{
    padding-left: 0px;
    padding-right: 0px;
}

.reset-position
{
    margin-left: 110px;
    padding-left: 0px;
    padding-right: 0px;
}
